@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Nunito:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand";
    font-weight: 400;
    margin: 0;
    box-sizing: border-box;
}

div#root {
    height: 100%;
}